#containerPexeso{
    padding: 12px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 5vh;
}

.card{
    width: 150px;
    height: 200px;
    perspective: 1000px;
    background-color: transparent;
    cursor: pointer;
}

.cardInner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

/*.card:hover .cardInner{
    transform: rotateY(-180deg);
}*/

.isFlipped{
    transform: rotateY(-180deg);
}

.cardFront, .cardBack{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5%;
}

.cardFront{
    background-color: rgb(47, 132, 119);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardFront h3{
    margin: 0;
}

.cardBack{
    transform: rotateY(180deg);
    background-color: #fff;
    color: white;
}


.meme{
    /*min-width: 200px;
    max-width: 200px;
    max-height: 200px;
    min-height: 200px;*/
    width: 150px;
    height: 200px;
    border-radius: 5%;
}

.live{
    width: 30px;
    height: 30px;
}

#lives{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 24px;
}

.shake{
    animation: shakeThatAss 0.5s forwards;
}

.shakeNervously{
    animation: shakeNervously 0.2s infinite;
}


@keyframes shakeThatAss{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-20px);
    }
    50%{
        transform: translateX(20px);
    }
    75%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes shakeNervously{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-5px);
    }
    50%{
        transform: translateX(5px);
    }
    75%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(0);
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 1;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
    }
    100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 1;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
    }
    100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 